[include]
  path = ~/.gitconfig_local
[core]
  editor = code --wait
  preloadindex = true
[commit]
  gpgSign = true
[gpg]
  program = gpg2
[rebase]
  abbreviateCommands = true
  autostash = true
  autosquash = true
  updateRefs = true
[init]
	defaultBranch = main
