[tools]
node = "lts"
pnpm = "latest"
bun = "latest"
{{ if (eq .chezmoi.username "roottool") }}
deno = "latest"

rust = "latest"
{{ end }}

bat = "latest"
eza = "latest"
chezmoi = "latest"
uv = "latest"
ripgrep = "latest"
fzf = "latest"
fd = "latest"
jq = "latest"
